@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hahmlet:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');


/*reset padrão*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    /*paleta lightmode*/

    --light-bg-color: whitesmoke;
    --light-component-color: cyan;
    --light-component-shadow: rgb(1, 95, 95);
    --light-font-color: black;

    /*paleta darkmode*/

    --dark-bg-color: rgb(22, 22, 22);
    --dark-component-color: rgb(175, 2, 175);
    --dark-component-shadow: rgb(78, 1, 78);
    --dark-font-color: whitesmoke;

    /*fontes*/
    --font-title: "Anton", sans-serif;
    --font-subtitle: "Sora", sans-serif;
    --font-paragraph: "Inter", sans-serif;


    /*componentes */
    --btn-border-radius: 12px;

}


.header-conteiner {
    height: 92px;
    background-color: var(--light-bg-color);
    padding: 12px 0 0 36px;
}


.header-title {
    font-size: 2.5rem;
    font-family: var(--font-title);
    font-weight: 100;
    color: var(--light-font-color);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navigation-header {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    margin-right: 36px;
}


.navigation-header a {
    position: relative;
    display: flex;
    text-decoration: none;
    color: var(--light-font-color);
    font-family: var(--font-subtitle);
}


.navigation-header a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: var(--light-font-color);
    transition: width 0.3s ease;
}

.navigation-header a:hover::after {
    width: 100%;
}

